.all-customer {
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 35px 38px;
    .header-customer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        h6 {
            font-size: 22px;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            color: #16c098;
            font-weight: 400;
        }
    }
    .right-hc {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
         input[type=text] {
            background: url('https://cdn-icons-png.flaticon.com/512/54/54481.png') no-repeat 10px;
            background-color: #e7e7e7;
            background-size: 24px 24px;
            padding: 15px 41px 13px;
            border-radius: 12px;
            font-size: 14px;
            height: 38px;
            outline: none;
            border: none;
    }
    .shortby {
        display: flex;
        width: 154px;
        height: 38px;
        background-color: #e7e7e7;
        border-radius: 10px;
        padding: 10px 15px;
        p{
            font-size: 12px;
            color: #7e7e7e;
            margin-right: 2px;
        }
        h6 {
            font-size: 12px;
            color: #3d3c42;
            margin-right: 3px;
        }
    }
    }
    .infomation {
        width: 100%;
        table {
            width: 100%;
            border-collapse: collapse;
             td {
                border-bottom: 1px solid red;
                padding: 24px 0;
        }
    }
        .header-info {
            font-size: 14px;
            color: #b5b7c0;
            
        }
        .info-cus {
           font-size: 14px;
           color: #292d32;
        }
    }
}