.con {
    max-width:1440px;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    background-color: #fafbff;
    .sidemenu {
        width: 306px;
        height: 100vh;
    }
    .main-con {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 39px 95px 78px 71px;
        .main {
            height: 100vh;
        }
    }
}