.top-widget {
        display: flex;
        height: 151px;
        gap: 55px;
        width: 100%;
        background-color: var(--bg-box);
        padding: 35px 50px;
        border-radius: 30px;
        width: 100%;
        .widget {
            width: 274px;
            border-right: 1px solid #F0F0F0;
            gap: 19px;
            display: flex;
            .icon-top {
                width: 84px;
                height: 84px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50% ;
                background-image: linear-gradient(to bottom, #d3ffe7, #effff6);
            }
            .info-widget {
                
                p {
                    font-size: 14px;
                    word-break: wrap;
                    color: #acacac;
                }
                h6 {
                    font-size: 32px;
                    color: #333;
                    font-weight: 600;
                }
                .up-customer {
                    display: flex;
                    align-items: center;
                }
                .up-icon img {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                }
            }
        }
        .widget:last-child {
            border-right: none;
            padding-right: 0;
        }
    }