.container {
    padding: 35px 25px 75px;
    background-color: var(--bg-box);
    height: 1198px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
        display: flex;
        width: 195px;
        height: 40px;
        align-items: center; 
        p {
            font-size: 26px;
            font-weight: bold;
        }
        span {
            font-size: 10px;
            margin-left: 5px;
        }
    }
    .side-menu {
        margin-top: 53px;
        .menu{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 46px;
            border-radius: 8px;
            width: 250px;
            margin-top: 17px;
            padding: 12px;
            color: #9197B3;
            .menu-title {
                display: flex;
                gap: 16px;
            }
            p {
                font-size: 14px;
            }
            &:hover {
                background-color: #5932EA;
                color: #fff;
            }
        }
    }
    .con-bottom {
            .access {
                width: 250px;
                height: 150px;
                color: #FFF;
                border-radius: 20px;
                padding: 22px 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-image: linear-gradient(to right,#EAABF0,#4623E9);
                    p {
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                }
                .btnAccess {
                height: 40px;
                width: 203px;
                color: #4925e9;
                font-weight: 600;
                outline: none;
                border: none;
                border-radius: 20px;
                background-color: #fff;
                }
            }
        .profile-side-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 42px;
            margin-top: 46px;
            .info-profile {
                display: flex;
                img {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                margin-right: 12px;
            }
            }
            
            .icon-side {
                color: #757575;
            }
        }
            
        }
}